<div class="markup-panel">
    <div class="controls">
        <div class="button" pTooltip="Hide/Show" tooltipPosition="top">
            <span>
                <fa-icon [icon]="faEye"></fa-icon>
                /
                <fa-icon [icon]="faEyeSlash"></fa-icon>
            </span>
        </div>
        <div class="button" pTooltip="Filter Toggle" toolTipPosition="top">
            <span>
                <fa-icon [icon]="faFilter"></fa-icon>
                
            </span>
           
        </div>
        <div class="button" pTooltip="Search" tooltipPosition="top">
            <span>
                <fa-icon [icon]="faSearch"></fa-icon>
            </span>
        </div>
        <div class="button" pTooltip="Create Report" tooltipPosition="top">
            <span>
                <fa-icon [icon]="faFileAlt"></fa-icon>
            </span>
        </div>
    </div>
    <ag-grid-angular
        style="width: 100%; height: 130px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        >
    </ag-grid-angular>
</div>

