:host {
    display: flex;
    height: 100%;
    width: 100%;
}

.thumbnail-bar {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    .zoom-control {
        flex: 0 0 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        color: rgb(190,190,190);
    }
    .thumbnail-holder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        text-align: left;
        padding: 8px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        .image {
            margin-left: 13px;
            display: inline-block;
            height: 100%;
            position: relative;
            overflow: hidden;
            border: 3px solid rgb(110,110,110);
            box-shadow: 3px 3px 6px rgb(20,20,20);
            cursor: grabbing;
            .close-button {
              position: absolute;
              top: 4px;
              right: 4px;
              z-index: 999;
              font-size: 20px;
              color: rgg(160, 160, 160);
              cursor: pointer;
            }
            .thumbnail {
                width: 100%;
                height: 100%;
                max-height: 100%;
                display: block;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                
            }
        }
    }
    // .thumbnail-holder {
    //     flex: 1;
    //     box-sizing: border-box;
    //     position: relative;
    //     overflow-x: auto;
    //     overflow-y: hidden;
    //     padding: 5px;
    //     white-space: nowrap;
    //     display: inline;
    //     text-align: left;
    //     .image {
    //         height: 165px;
    //         width: 180px;
    //         margin: 4px;
    //         overflow: hidden;
    //         display: inline-block;
    //         border: 3px solid rgb(190,190,190);
    //         .thumbnail {
    //             width: 100%;
    //             height: 100%;
    //             max-height: 100%;
    //             display: block;
    //             background-size: cover;
    //             background-repeat: no-repeat;
    //         }
    //     }
    // }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(90,90,90);
    border-radius: 10px;
  }

  .close-button {
    display: none;
  }
  .image:hover .close-button {
    display: inline;

  }